@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-cards .swiper-slide {
    background-color: #FAFAF0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px,0,0);
    overflow: hidden;
  }